<!DOCTYPE html>
<html>
 <head>
		<!-- Page Title -->
    <title>Owner's Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>
		<%- include owner_sidebar.ejs %>
		<%- include navbar.ejs %>
		<h1><%= title%></h1>
		<div class="row">
			<div class="col-sm-4">
				<div class="card w-75">
					<div class="card-body">
						<h5 class="card-title">Total Earnings</h5>
						<p class="card-text">$<%= earnings[0].earnings%></p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card w-75">
					<div class="card-body">
						<h5 class="card-title">Total Average Score</h5>
						<p class="card-text"><%= avgscore[0].avgscore%></p>
					</div>
				</div>
			</div>			
			<div class="col-sm-4">
				<div class="card w-75">
					<div class="card-body">
						<h5 class="card-title">Total Reservations</h5>
						<p class="card-text"><%= reservations[0].reservations%></p>
					</div>
				</div>
			</div>
		</div>
		<h2>Most Improved Restaurant(s)</h2>
		<table class="table">
			<thead>
				<tr>
					<th scope ="col">Areas</th>
					<th scope ="col">Addresses</th>
					<th scope ="col">Old Score</th>
					<th scope ="col">New Score</th>
					<th scope ="col">Improved By</th>
				</tr>
			</thead>
			<tbody>
				<% for (var i = 0; i < mostImproved.length; i++) { %>
				<tr>
					<td><%= mostImproved[i].aname%></td>
					<td><%= mostImproved[i].address%></td>
					<td><%= mostImproved[i].old%></td>
					<td><%= mostImproved[i].new%></td>
					<td><%= mostImproved[i].diff%></td>
				</tr>
				<% } %> 	
			</tbody>
		</table>
		<h2>Outlets</h2>
		<table class="table">
			<thead>
				<tr>
					<th scope ="col">Restaurants</th>
					<th scope ="col">Areas</th>
					<th scope ="col">Addresses</th>
					<th scope ="col">Earnings</th>
					<th scope ="col">Average Scores</th>
					<th scope ="col">Reservations</th>
				</tr>
			</thead>
			<tbody>
				<% for (var i = 0; i < data.length; i++) { %>
				<tr>
					<td><%= data[i].rname%></td>
					<td><%= data[i].aname%></td>
					<td><%= data[i].address%></td>
					<td>$<%= data[i].earnings%></td>
					<td><%= data[i].avgscore%></td>
					<td><%= data[i].reservations%></td>
				</tr>
				<% } %> 	
			</tbody>
		</table>
  </body>
</html>
